*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{list-style: none;}
.nav-wrapper{
    background-color: #181716;
}
.nav-container{
    margin: 0 auto ;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
}

.nav ul{
    display: flex;
    justify-content: space-between;
}

.nav{
    width: 850px;
}

.search{
    font-size: 25px;
}

.logo{
    font-size: 25px;
}